.navbar{
  padding: 0px;
  border: 0px;
}

.row-1{
  background-color: #fff;
  border-bottom: solid 2px #ccc;
}

.name{
  background-color: #4aaaa5; 
  color: #ffffff; 
  text-align: center;
  padding: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: x-large;
  font-weight: bold;
}

.links{
  font-size:large;
  padding: 25px;
  color: #777777; 
  text-align:right;
}

a,
a:hover {
  color: #777777;
}

.content{
  background-color: #fff;
  border: solid 1px;
  border-color: #dddddd; 
  margin-bottom: 60px; 
}

.page-name{
  color:#4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: x-large;
  font-weight: bold;
  margin-left: 35px;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #ddd;
  padding: 0;
}

.copyright{
  background-color: #666666;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 7%;
  color: #ddd;
  text-align:center;
  border-top: solid 6px #4aaaa5;
  font-size: small;
  justify-content: center;
  align-items: center;
}

.btn{
  background-color: #4aaaa5;
  border-color: #4aaaa5;
  margin-top: 5px;
  margin-bottom: 20px;
}

.card{
  border: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 200px;
}

.card-img-overlay{
  padding: 0px;
}

.card-text,
.card-text:hover {
  background-color: #4aaaa5;
  color: white;
  text-decoration: none;
  text-align:center;
  width:100%;
  position: absolute;
  bottom: 7%;
  padding: 5px;
}